* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #2b304c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 120px);
  row-gap: 20px;
  column-gap: 20px;
}

.grid-item-1 {
  background-color: #82b05b;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.grid-item-2 {
  background-color: #82b05b;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.grid-item-3 {
  background-color: #e26a4f;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.grid-item-4 {
  background-color: #eab44a;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid-item-5 {
  background-color: #e26a4f;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.grid-item-6 {
  background-color: #e26a4f;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.grid-item-7 {
  background-color: #eab44a;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.grid-item-8 {
  background-color: #82b05b;
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}
